/* .faq {
  padding: 20px;
  border: 1px solid;
  row-gap: 10px;
}
.faq ul {
  border: 1px solid;
  row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.faq button {
  border: 1px solid;
  padding: 20px;
  background-color: black;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  justify-content: space-between;
  transition: all 0.3s;
}

.faq button:hover {
  border: 1px solid var(--gray5);
  background-color: gray;
} */
/*  */
.faq {
  padding: 20px;
  border: 1px solid;
  row-gap: 10px;
}
.faq ul {
  row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.faq button {
  border: 1px solid;
  padding: 20px;

  margin-top: 10px;
  row-gap: 2px;
  border-radius: 15px;
  width: 440px;
  justify-content: space-between;
}

.faq button:hover {
  border: 1px solid var(--gray5);
  background-color: gray;
  color: black;
}
